<template>
  <div class="container home">
    <h2>Hi {{ user.name }} 👋</h2>
    <div>
      How can I help you today?
    </div>
    <div class="row m-2">
      <card
        v-bind:title="tip.name"
        v-bind:icon="require('@/assets/tip.svg')"
        button-left="SEE ALL"
        button-right="EXPLORE TIP"
      >
        <tip v-bind:tip="tip"></tip>
      </card>
    </div>
    <div class="row m-2">
      <card
        v-bind:title="'Community'"
        v-bind:icon="require('@/assets/community.svg')"
        button-left="SEE ALL"
        button-right="ADD TOPIC"
      >
        <community v-bind:topic="topic"></community>
      </card>
    </div>
  </div>
</template>

<script lang="ts">
import TipComponent from "@/components/Tip.vue";
import { Inject } from "vue-property-decorator";
import { TipsService } from "@/services/tips.service";
import { Component, Vue } from "vue-property-decorator";
import { Subscription } from "vue-rx-decorators";
import { UserService } from "@/services/user.service";
import CardComponent from "@/components/Card.vue";
import {map, share, startWith} from "rxjs/operators";
import CommunityComponent from "@/components/Comunity.vue";
import { TopicsService } from "@/services/topics.service";
import { Observable } from "rxjs";
import { Tip } from "@/models/tip";
import { Topic } from "@/models/topic";

@Component({
  components: {
    card: CardComponent,
    tip: TipComponent,
    community: CommunityComponent
  }
})
export default class Home extends Vue {
  @Inject("tipsService") private tipsService!: TipsService;
  @Inject("userService") private userService!: UserService;
  @Inject("topicsService") private topicsService!: TopicsService;

  private tip$ = this.tipsService.getTipOfTheDay().pipe(
          share(),
          startWith({} as Tip)
  );
  private topic$ = this.topicsService.getTopicOfTheDay().pipe(
          share(),
          startWith({} as Topic)
  );

  @Subscription()
  get tip(): Observable<Tip> {
    return this.tip$;
  }

  @Subscription()
  get user(): Observable<User> {
    return this.userService.getUser();
  }

  @Subscription()
  get topic(): Observable<Topic> {
    return this.topic$;
  }
}
</script>
