<template>
  <div class="container font-weight-bold">
    <div class="card">
      <div class="card-header text-left d-flex">
        <img
          id="tip-icon"
          v-bind:src="icon"
          class="img-fluid align-self-center"
        />
        <div class="align-self-center pl-2">{{ title }}</div>
      </div>
      <div class="body d-flex p-0">
        <slot></slot>
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-6">{{ buttonLeft }}</div>
          <!-- TODO property -->
          <div class="col-6">{{ buttonRight }}</div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";

@Component
export default class CardComponent extends Vue {
  @Prop() title!: string;
  @Prop() buttonLeft!: string;
  @Prop() buttonRight!: string;
  @Prop() icon!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card {
  max-width: 320px;
  margin: 0 auto;
  border-radius: 1rem !important;
  background-color: #2d2938;
  color: white;
}

.card-header {
  font-size: 1em;
}

.card-footer {
  font-size: 0.75em;
}

#tip-icon {
  transform: scale(0.8);
}

.body {
  background-color: #221f2b;
}
</style>
