<template>
  <div class="container-fluid">
    <div class="row m-2">
      {{ topic.name }}
    </div>
    <div class="row scrolling-wrapper-flexbox">
      <div
        class="box col-md-11 mb-3"
        v-for="(post, index) in topic.posts"
        v-bind:key="index"
      >
        <post v-bind:post="post"></post>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Topic } from "@/models/topic";
import PostComponent from "@/components/Post.vue";

@Component({
  components: {
    post: PostComponent
  }
})
export default class CommunityComponent extends Vue {
  @Prop() topic!: Topic;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.row {
  position: relative;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox .box {
  flex: 0 0 auto;
}
</style>
