<template>
  <div class="container">
    <div class="card">
      <div class="container">
        <div class="row  pt-2">
          <img class="figure-img col-3" src="@/assets/post.svg" />
          <div class="container col-9 text-left">
            <div class="row title font-weight-normal">
              posted 2 days ago • {{ author }}
            </div>
            <div class="row font-weight-bold">
              {{ post.title }}
            </div>
          </div>
        </div>
        <div class="row">
          <p class="text-left font-weight-normal  m-2">
            {{ post.text }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Post } from "@/models/post";

@Component
export default class PostComponent extends Vue {
  @Prop() post!: Post;

  get author() {
    return this.post.author.replace(/ /g, '\u00a0');
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.container {
}
.card {
  background-color: #2d2938;
  color: white;
}
.p {
  font-size: 0.8rem;
}
  .title {
    font-size: 0.6rem;
    color: white;
  }
</style>
