<template>
  <div class="container p-0 m-0">
    <img class="card-img" v-bind:src="tip.image" alt="Card image" />
    <div class="card-body">
      <div class="card-title text-left p-0">
        {{ tip.title }}
      </div>
      <div class="card-text text-left col-md-6 p-0">{{ tip.intro }}</div>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from "vue-property-decorator";
import { Tip } from "@/models/tip";

@Component
export default class TipComponent extends Vue {
  @Prop() tip!: Tip;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card-title {
  font-size: 0.9em;
}
.card-text {
  font-size: 0.65em;
}

.card-body {
  position: absolute;
  top: 0;
  left: 0;
}

.container {
  position: relative;
}
</style>
